.services {
  margin: 5rem auto;
  padding: 1rem;
  width: 100%;
}

a {
  text-decoration: none;
}

.ad-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .col-1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services .col-2 p:nth-child(1) {
  font-size: 1.8rem;
  font-style: static;
}

.services .col-1 p:nth-child(2) {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0.5rem 0;
}

.services .col-1 p:nth-child(3) {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0.5rem 0;
}

.services .col-2 {
  margin: auto;
}

.col-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 940px) {
  .services .container {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    align-items: center;
  }
  
}
