:root {
  --primary-color: #77ccfd;
  --primary-dark: #6d57df;
  --secondary-color: #7aeb60;
  --secondart-dark: #1d6d12;
  --overlay: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #efebeb;
  text-transform: uppercase;
  background-color: #50b339;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.button:hover {
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, .2);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
